.g1c020 {
 background-image: url('../g1/c0_20.gif');
}
.g1c021 {
 background-image: url('../g1/c0_21.gif');
}
.g1c022 {
 background-image: url('../g1/c0_22.gif');
}
.g1c023 {
 background-image: url('../g1/c0_23.gif');
}
.g1c024 {
 background-image: url('../g1/c0_24.gif');
}
.g1c025 {
 background-image: url('../g1/c0_25.gif');
}
.g1c026 {
 background-image: url('../g1/c0_26.gif');
}
.g1c027 {
 background-image: url('../g1/c0_27.gif');
}
.g1c028 {
 background-image: url('../g1/c0_28.gif');
}
.g1c029 {
 background-image: url('../g1/c0_29.gif');
}
.g1c02a {
 background-image: url('../g1/c0_2a.gif');
}
.g1c02b {
 background-image: url('../g1/c0_2b.gif');
}
.g1c02c {
 background-image: url('../g1/c0_2c.gif');
}
.g1c02d {
 background-image: url('../g1/c0_2d.gif');
}
.g1c02e {
 background-image: url('../g1/c0_2e.gif');
}
.g1c02f {
 background-image: url('../g1/c0_2f.gif');
}
.g1c030 {
 background-image: url('../g1/c0_30.gif');
}
.g1c031 {
 background-image: url('../g1/c0_31.gif');
}
.g1c032 {
 background-image: url('../g1/c0_32.gif');
}
.g1c033 {
 background-image: url('../g1/c0_33.gif');
}
.g1c034 {
 background-image: url('../g1/c0_34.gif');
}
.g1c035 {
 background-image: url('../g1/c0_35.gif');
}
.g1c036 {
 background-image: url('../g1/c0_36.gif');
}
.g1c037 {
 background-image: url('../g1/c0_37.gif');
}
.g1c038 {
 background-image: url('../g1/c0_38.gif');
}
.g1c039 {
 background-image: url('../g1/c0_39.gif');
}
.g1c03a {
 background-image: url('../g1/c0_3a.gif');
}
.g1c03b {
 background-image: url('../g1/c0_3b.gif');
}
.g1c03c {
 background-image: url('../g1/c0_3c.gif');
}
.g1c03d {
 background-image: url('../g1/c0_3d.gif');
}
.g1c03e {
 background-image: url('../g1/c0_3e.gif');
}
.g1c03f {
 background-image: url('../g1/c0_3f.gif');
}
.g1c060 {
 background-image: url('../g1/c0_60.gif');
}
.g1c061 {
 background-image: url('../g1/c0_61.gif');
}
.g1c062 {
 background-image: url('../g1/c0_62.gif');
}
.g1c063 {
 background-image: url('../g1/c0_63.gif');
}
.g1c064 {
 background-image: url('../g1/c0_64.gif');
}
.g1c065 {
 background-image: url('../g1/c0_65.gif');
}
.g1c066 {
 background-image: url('../g1/c0_66.gif');
}
.g1c067 {
 background-image: url('../g1/c0_67.gif');
}
.g1c068 {
 background-image: url('../g1/c0_68.gif');
}
.g1c069 {
 background-image: url('../g1/c0_69.gif');
}
.g1c06a {
 background-image: url('../g1/c0_6a.gif');
}
.g1c06b {
 background-image: url('../g1/c0_6b.gif');
}
.g1c06c {
 background-image: url('../g1/c0_6c.gif');
}
.g1c06d {
 background-image: url('../g1/c0_6d.gif');
}
.g1c06e {
 background-image: url('../g1/c0_6e.gif');
}
.g1c06f {
 background-image: url('../g1/c0_6f.gif');
}
.g1c070 {
 background-image: url('../g1/c0_70.gif');
}
.g1c071 {
 background-image: url('../g1/c0_71.gif');
}
.g1c072 {
 background-image: url('../g1/c0_72.gif');
}
.g1c073 {
 background-image: url('../g1/c0_73.gif');
}
.g1c074 {
 background-image: url('../g1/c0_74.gif');
}
.g1c075 {
 background-image: url('../g1/c0_75.gif');
}
.g1c076 {
 background-image: url('../g1/c0_76.gif');
}
.g1c077 {
 background-image: url('../g1/c0_77.gif');
}
.g1c078 {
 background-image: url('../g1/c0_78.gif');
}
.g1c079 {
 background-image: url('../g1/c0_79.gif');
}
.g1c07a {
 background-image: url('../g1/c0_7a.gif');
}
.g1c07b {
 background-image: url('../g1/c0_7b.gif');
}
.g1c07c {
 background-image: url('../g1/c0_7c.gif');
}
.g1c07d {
 background-image: url('../g1/c0_7d.gif');
}
.g1c07e {
 background-image: url('../g1/c0_7e.gif');
}
.g1c07f {
 background-color: #000000;
}
.g1c120 {
 background-image: url('../g1/c1_20.gif');
}
.g1c121 {
 background-image: url('../g1/c1_21.gif');
}
.g1c122 {
 background-image: url('../g1/c1_22.gif');
}
.g1c123 {
 background-image: url('../g1/c1_23.gif');
}
.g1c124 {
 background-image: url('../g1/c1_24.gif');
}
.g1c125 {
 background-image: url('../g1/c1_25.gif');
}
.g1c126 {
 background-image: url('../g1/c1_26.gif');
}
.g1c127 {
 background-image: url('../g1/c1_27.gif');
}
.g1c128 {
 background-image: url('../g1/c1_28.gif');
}
.g1c129 {
 background-image: url('../g1/c1_29.gif');
}
.g1c12a {
 background-image: url('../g1/c1_2a.gif');
}
.g1c12b {
 background-image: url('../g1/c1_2b.gif');
}
.g1c12c {
 background-image: url('../g1/c1_2c.gif');
}
.g1c12d {
 background-image: url('../g1/c1_2d.gif');
}
.g1c12e {
 background-image: url('../g1/c1_2e.gif');
}
.g1c12f {
 background-image: url('../g1/c1_2f.gif');
}
.g1c130 {
 background-image: url('../g1/c1_30.gif');
}
.g1c131 {
 background-image: url('../g1/c1_31.gif');
}
.g1c132 {
 background-image: url('../g1/c1_32.gif');
}
.g1c133 {
 background-image: url('../g1/c1_33.gif');
}
.g1c134 {
 background-image: url('../g1/c1_34.gif');
}
.g1c135 {
 background-image: url('../g1/c1_35.gif');
}
.g1c136 {
 background-image: url('../g1/c1_36.gif');
}
.g1c137 {
 background-image: url('../g1/c1_37.gif');
}
.g1c138 {
 background-image: url('../g1/c1_38.gif');
}
.g1c139 {
 background-image: url('../g1/c1_39.gif');
}
.g1c13a {
 background-image: url('../g1/c1_3a.gif');
}
.g1c13b {
 background-image: url('../g1/c1_3b.gif');
}
.g1c13c {
 background-image: url('../g1/c1_3c.gif');
}
.g1c13d {
 background-image: url('../g1/c1_3d.gif');
}
.g1c13e {
 background-image: url('../g1/c1_3e.gif');
}
.g1c13f {
 background-image: url('../g1/c1_3f.gif');
}
.g1c160 {
 background-image: url('../g1/c1_60.gif');
}
.g1c161 {
 background-image: url('../g1/c1_61.gif');
}
.g1c162 {
 background-image: url('../g1/c1_62.gif');
}
.g1c163 {
 background-image: url('../g1/c1_63.gif');
}
.g1c164 {
 background-image: url('../g1/c1_64.gif');
}
.g1c165 {
 background-image: url('../g1/c1_65.gif');
}
.g1c166 {
 background-image: url('../g1/c1_66.gif');
}
.g1c167 {
 background-image: url('../g1/c1_67.gif');
}
.g1c168 {
 background-image: url('../g1/c1_68.gif');
}
.g1c169 {
 background-image: url('../g1/c1_69.gif');
}
.g1c16a {
 background-image: url('../g1/c1_6a.gif');
}
.g1c16b {
 background-image: url('../g1/c1_6b.gif');
}
.g1c16c {
 background-image: url('../g1/c1_6c.gif');
}
.g1c16d {
 background-image: url('../g1/c1_6d.gif');
}
.g1c16e {
 background-image: url('../g1/c1_6e.gif');
}
.g1c16f {
 background-image: url('../g1/c1_6f.gif');
}
.g1c170 {
 background-image: url('../g1/c1_70.gif');
}
.g1c171 {
 background-image: url('../g1/c1_71.gif');
}
.g1c172 {
 background-image: url('../g1/c1_72.gif');
}
.g1c173 {
 background-image: url('../g1/c1_73.gif');
}
.g1c174 {
 background-image: url('../g1/c1_74.gif');
}
.g1c175 {
 background-image: url('../g1/c1_75.gif');
}
.g1c176 {
 background-image: url('../g1/c1_76.gif');
}
.g1c177 {
 background-image: url('../g1/c1_77.gif');
}
.g1c178 {
 background-image: url('../g1/c1_78.gif');
}
.g1c179 {
 background-image: url('../g1/c1_79.gif');
}
.g1c17a {
 background-image: url('../g1/c1_7a.gif');
}
.g1c17b {
 background-image: url('../g1/c1_7b.gif');
}
.g1c17c {
 background-image: url('../g1/c1_7c.gif');
}
.g1c17d {
 background-image: url('../g1/c1_7d.gif');
}
.g1c17e {
 background-image: url('../g1/c1_7e.gif');
}
.g1c17f {
 background-color: #ff0000;
}
.g1c220 {
 background-image: url('../g1/c2_20.gif');
}
.g1c221 {
 background-image: url('../g1/c2_21.gif');
}
.g1c222 {
 background-image: url('../g1/c2_22.gif');
}
.g1c223 {
 background-image: url('../g1/c2_23.gif');
}
.g1c224 {
 background-image: url('../g1/c2_24.gif');
}
.g1c225 {
 background-image: url('../g1/c2_25.gif');
}
.g1c226 {
 background-image: url('../g1/c2_26.gif');
}
.g1c227 {
 background-image: url('../g1/c2_27.gif');
}
.g1c228 {
 background-image: url('../g1/c2_28.gif');
}
.g1c229 {
 background-image: url('../g1/c2_29.gif');
}
.g1c22a {
 background-image: url('../g1/c2_2a.gif');
}
.g1c22b {
 background-image: url('../g1/c2_2b.gif');
}
.g1c22c {
 background-image: url('../g1/c2_2c.gif');
}
.g1c22d {
 background-image: url('../g1/c2_2d.gif');
}
.g1c22e {
 background-image: url('../g1/c2_2e.gif');
}
.g1c22f {
 background-image: url('../g1/c2_2f.gif');
}
.g1c230 {
 background-image: url('../g1/c2_30.gif');
}
.g1c231 {
 background-image: url('../g1/c2_31.gif');
}
.g1c232 {
 background-image: url('../g1/c2_32.gif');
}
.g1c233 {
 background-image: url('../g1/c2_33.gif');
}
.g1c234 {
 background-image: url('../g1/c2_34.gif');
}
.g1c235 {
 background-image: url('../g1/c2_35.gif');
}
.g1c236 {
 background-image: url('../g1/c2_36.gif');
}
.g1c237 {
 background-image: url('../g1/c2_37.gif');
}
.g1c238 {
 background-image: url('../g1/c2_38.gif');
}
.g1c239 {
 background-image: url('../g1/c2_39.gif');
}
.g1c23a {
 background-image: url('../g1/c2_3a.gif');
}
.g1c23b {
 background-image: url('../g1/c2_3b.gif');
}
.g1c23c {
 background-image: url('../g1/c2_3c.gif');
}
.g1c23d {
 background-image: url('../g1/c2_3d.gif');
}
.g1c23e {
 background-image: url('../g1/c2_3e.gif');
}
.g1c23f {
 background-image: url('../g1/c2_3f.gif');
}
.g1c260 {
 background-image: url('../g1/c2_60.gif');
}
.g1c261 {
 background-image: url('../g1/c2_61.gif');
}
.g1c262 {
 background-image: url('../g1/c2_62.gif');
}
.g1c263 {
 background-image: url('../g1/c2_63.gif');
}
.g1c264 {
 background-image: url('../g1/c2_64.gif');
}
.g1c265 {
 background-image: url('../g1/c2_65.gif');
}
.g1c266 {
 background-image: url('../g1/c2_66.gif');
}
.g1c267 {
 background-image: url('../g1/c2_67.gif');
}
.g1c268 {
 background-image: url('../g1/c2_68.gif');
}
.g1c269 {
 background-image: url('../g1/c2_69.gif');
}
.g1c26a {
 background-image: url('../g1/c2_6a.gif');
}
.g1c26b {
 background-image: url('../g1/c2_6b.gif');
}
.g1c26c {
 background-image: url('../g1/c2_6c.gif');
}
.g1c26d {
 background-image: url('../g1/c2_6d.gif');
}
.g1c26e {
 background-image: url('../g1/c2_6e.gif');
}
.g1c26f {
 background-image: url('../g1/c2_6f.gif');
}
.g1c270 {
 background-image: url('../g1/c2_70.gif');
}
.g1c271 {
 background-image: url('../g1/c2_71.gif');
}
.g1c272 {
 background-image: url('../g1/c2_72.gif');
}
.g1c273 {
 background-image: url('../g1/c2_73.gif');
}
.g1c274 {
 background-image: url('../g1/c2_74.gif');
}
.g1c275 {
 background-image: url('../g1/c2_75.gif');
}
.g1c276 {
 background-image: url('../g1/c2_76.gif');
}
.g1c277 {
 background-image: url('../g1/c2_77.gif');
}
.g1c278 {
 background-image: url('../g1/c2_78.gif');
}
.g1c279 {
 background-image: url('../g1/c2_79.gif');
}
.g1c27a {
 background-image: url('../g1/c2_7a.gif');
}
.g1c27b {
 background-image: url('../g1/c2_7b.gif');
}
.g1c27c {
 background-image: url('../g1/c2_7c.gif');
}
.g1c27d {
 background-image: url('../g1/c2_7d.gif');
}
.g1c27e {
 background-image: url('../g1/c2_7e.gif');
}
.g1c27f {
 background-color: #00ff00;
}
.g1c320 {
 background-image: url('../g1/c3_20.gif');
}
.g1c321 {
 background-image: url('../g1/c3_21.gif');
}
.g1c322 {
 background-image: url('../g1/c3_22.gif');
}
.g1c323 {
 background-image: url('../g1/c3_23.gif');
}
.g1c324 {
 background-image: url('../g1/c3_24.gif');
}
.g1c325 {
 background-image: url('../g1/c3_25.gif');
}
.g1c326 {
 background-image: url('../g1/c3_26.gif');
}
.g1c327 {
 background-image: url('../g1/c3_27.gif');
}
.g1c328 {
 background-image: url('../g1/c3_28.gif');
}
.g1c329 {
 background-image: url('../g1/c3_29.gif');
}
.g1c32a {
 background-image: url('../g1/c3_2a.gif');
}
.g1c32b {
 background-image: url('../g1/c3_2b.gif');
}
.g1c32c {
 background-image: url('../g1/c3_2c.gif');
}
.g1c32d {
 background-image: url('../g1/c3_2d.gif');
}
.g1c32e {
 background-image: url('../g1/c3_2e.gif');
}
.g1c32f {
 background-image: url('../g1/c3_2f.gif');
}
.g1c330 {
 background-image: url('../g1/c3_30.gif');
}
.g1c331 {
 background-image: url('../g1/c3_31.gif');
}
.g1c332 {
 background-image: url('../g1/c3_32.gif');
}
.g1c333 {
 background-image: url('../g1/c3_33.gif');
}
.g1c334 {
 background-image: url('../g1/c3_34.gif');
}
.g1c335 {
 background-image: url('../g1/c3_35.gif');
}
.g1c336 {
 background-image: url('../g1/c3_36.gif');
}
.g1c337 {
 background-image: url('../g1/c3_37.gif');
}
.g1c338 {
 background-image: url('../g1/c3_38.gif');
}
.g1c339 {
 background-image: url('../g1/c3_39.gif');
}
.g1c33a {
 background-image: url('../g1/c3_3a.gif');
}
.g1c33b {
 background-image: url('../g1/c3_3b.gif');
}
.g1c33c {
 background-image: url('../g1/c3_3c.gif');
}
.g1c33d {
 background-image: url('../g1/c3_3d.gif');
}
.g1c33e {
 background-image: url('../g1/c3_3e.gif');
}
.g1c33f {
 background-image: url('../g1/c3_3f.gif');
}
.g1c360 {
 background-image: url('../g1/c3_60.gif');
}
.g1c361 {
 background-image: url('../g1/c3_61.gif');
}
.g1c362 {
 background-image: url('../g1/c3_62.gif');
}
.g1c363 {
 background-image: url('../g1/c3_63.gif');
}
.g1c364 {
 background-image: url('../g1/c3_64.gif');
}
.g1c365 {
 background-image: url('../g1/c3_65.gif');
}
.g1c366 {
 background-image: url('../g1/c3_66.gif');
}
.g1c367 {
 background-image: url('../g1/c3_67.gif');
}
.g1c368 {
 background-image: url('../g1/c3_68.gif');
}
.g1c369 {
 background-image: url('../g1/c3_69.gif');
}
.g1c36a {
 background-image: url('../g1/c3_6a.gif');
}
.g1c36b {
 background-image: url('../g1/c3_6b.gif');
}
.g1c36c {
 background-image: url('../g1/c3_6c.gif');
}
.g1c36d {
 background-image: url('../g1/c3_6d.gif');
}
.g1c36e {
 background-image: url('../g1/c3_6e.gif');
}
.g1c36f {
 background-image: url('../g1/c3_6f.gif');
}
.g1c370 {
 background-image: url('../g1/c3_70.gif');
}
.g1c371 {
 background-image: url('../g1/c3_71.gif');
}
.g1c372 {
 background-image: url('../g1/c3_72.gif');
}
.g1c373 {
 background-image: url('../g1/c3_73.gif');
}
.g1c374 {
 background-image: url('../g1/c3_74.gif');
}
.g1c375 {
 background-image: url('../g1/c3_75.gif');
}
.g1c376 {
 background-image: url('../g1/c3_76.gif');
}
.g1c377 {
 background-image: url('../g1/c3_77.gif');
}
.g1c378 {
 background-image: url('../g1/c3_78.gif');
}
.g1c379 {
 background-image: url('../g1/c3_79.gif');
}
.g1c37a {
 background-image: url('../g1/c3_7a.gif');
}
.g1c37b {
 background-image: url('../g1/c3_7b.gif');
}
.g1c37c {
 background-image: url('../g1/c3_7c.gif');
}
.g1c37d {
 background-image: url('../g1/c3_7d.gif');
}
.g1c37e {
 background-image: url('../g1/c3_7e.gif');
}
.g1c37f {
 background-color: #ffff00;
}
.g1c420 {
 background-image: url('../g1/c4_20.gif');
}
.g1c421 {
 background-image: url('../g1/c4_21.gif');
}
.g1c422 {
 background-image: url('../g1/c4_22.gif');
}
.g1c423 {
 background-image: url('../g1/c4_23.gif');
}
.g1c424 {
 background-image: url('../g1/c4_24.gif');
}
.g1c425 {
 background-image: url('../g1/c4_25.gif');
}
.g1c426 {
 background-image: url('../g1/c4_26.gif');
}
.g1c427 {
 background-image: url('../g1/c4_27.gif');
}
.g1c428 {
 background-image: url('../g1/c4_28.gif');
}
.g1c429 {
 background-image: url('../g1/c4_29.gif');
}
.g1c42a {
 background-image: url('../g1/c4_2a.gif');
}
.g1c42b {
 background-image: url('../g1/c4_2b.gif');
}
.g1c42c {
 background-image: url('../g1/c4_2c.gif');
}
.g1c42d {
 background-image: url('../g1/c4_2d.gif');
}
.g1c42e {
 background-image: url('../g1/c4_2e.gif');
}
.g1c42f {
 background-image: url('../g1/c4_2f.gif');
}
.g1c430 {
 background-image: url('../g1/c4_30.gif');
}
.g1c431 {
 background-image: url('../g1/c4_31.gif');
}
.g1c432 {
 background-image: url('../g1/c4_32.gif');
}
.g1c433 {
 background-image: url('../g1/c4_33.gif');
}
.g1c434 {
 background-image: url('../g1/c4_34.gif');
}
.g1c435 {
 background-image: url('../g1/c4_35.gif');
}
.g1c436 {
 background-image: url('../g1/c4_36.gif');
}
.g1c437 {
 background-image: url('../g1/c4_37.gif');
}
.g1c438 {
 background-image: url('../g1/c4_38.gif');
}
.g1c439 {
 background-image: url('../g1/c4_39.gif');
}
.g1c43a {
 background-image: url('../g1/c4_3a.gif');
}
.g1c43b {
 background-image: url('../g1/c4_3b.gif');
}
.g1c43c {
 background-image: url('../g1/c4_3c.gif');
}
.g1c43d {
 background-image: url('../g1/c4_3d.gif');
}
.g1c43e {
 background-image: url('../g1/c4_3e.gif');
}
.g1c43f {
 background-image: url('../g1/c4_3f.gif');
}
.g1c460 {
 background-image: url('../g1/c4_60.gif');
}
.g1c461 {
 background-image: url('../g1/c4_61.gif');
}
.g1c462 {
 background-image: url('../g1/c4_62.gif');
}
.g1c463 {
 background-image: url('../g1/c4_63.gif');
}
.g1c464 {
 background-image: url('../g1/c4_64.gif');
}
.g1c465 {
 background-image: url('../g1/c4_65.gif');
}
.g1c466 {
 background-image: url('../g1/c4_66.gif');
}
.g1c467 {
 background-image: url('../g1/c4_67.gif');
}
.g1c468 {
 background-image: url('../g1/c4_68.gif');
}
.g1c469 {
 background-image: url('../g1/c4_69.gif');
}
.g1c46a {
 background-image: url('../g1/c4_6a.gif');
}
.g1c46b {
 background-image: url('../g1/c4_6b.gif');
}
.g1c46c {
 background-image: url('../g1/c4_6c.gif');
}
.g1c46d {
 background-image: url('../g1/c4_6d.gif');
}
.g1c46e {
 background-image: url('../g1/c4_6e.gif');
}
.g1c46f {
 background-image: url('../g1/c4_6f.gif');
}
.g1c470 {
 background-image: url('../g1/c4_70.gif');
}
.g1c471 {
 background-image: url('../g1/c4_71.gif');
}
.g1c472 {
 background-image: url('../g1/c4_72.gif');
}
.g1c473 {
 background-image: url('../g1/c4_73.gif');
}
.g1c474 {
 background-image: url('../g1/c4_74.gif');
}
.g1c475 {
 background-image: url('../g1/c4_75.gif');
}
.g1c476 {
 background-image: url('../g1/c4_76.gif');
}
.g1c477 {
 background-image: url('../g1/c4_77.gif');
}
.g1c478 {
 background-image: url('../g1/c4_78.gif');
}
.g1c479 {
 background-image: url('../g1/c4_79.gif');
}
.g1c47a {
 background-image: url('../g1/c4_7a.gif');
}
.g1c47b {
 background-image: url('../g1/c4_7b.gif');
}
.g1c47c {
 background-image: url('../g1/c4_7c.gif');
}
.g1c47d {
 background-image: url('../g1/c4_7d.gif');
}
.g1c47e {
 background-image: url('../g1/c4_7e.gif');
}
.g1c47f {
 background-color: #0000ff;
}
.g1c520 {
 background-image: url('../g1/c5_20.gif');
}
.g1c521 {
 background-image: url('../g1/c5_21.gif');
}
.g1c522 {
 background-image: url('../g1/c5_22.gif');
}
.g1c523 {
 background-image: url('../g1/c5_23.gif');
}
.g1c524 {
 background-image: url('../g1/c5_24.gif');
}
.g1c525 {
 background-image: url('../g1/c5_25.gif');
}
.g1c526 {
 background-image: url('../g1/c5_26.gif');
}
.g1c527 {
 background-image: url('../g1/c5_27.gif');
}
.g1c528 {
 background-image: url('../g1/c5_28.gif');
}
.g1c529 {
 background-image: url('../g1/c5_29.gif');
}
.g1c52a {
 background-image: url('../g1/c5_2a.gif');
}
.g1c52b {
 background-image: url('../g1/c5_2b.gif');
}
.g1c52c {
 background-image: url('../g1/c5_2c.gif');
}
.g1c52d {
 background-image: url('../g1/c5_2d.gif');
}
.g1c52e {
 background-image: url('../g1/c5_2e.gif');
}
.g1c52f {
 background-image: url('../g1/c5_2f.gif');
}
.g1c530 {
 background-image: url('../g1/c5_30.gif');
}
.g1c531 {
 background-image: url('../g1/c5_31.gif');
}
.g1c532 {
 background-image: url('../g1/c5_32.gif');
}
.g1c533 {
 background-image: url('../g1/c5_33.gif');
}
.g1c534 {
 background-image: url('../g1/c5_34.gif');
}
.g1c535 {
 background-image: url('../g1/c5_35.gif');
}
.g1c536 {
 background-image: url('../g1/c5_36.gif');
}
.g1c537 {
 background-image: url('../g1/c5_37.gif');
}
.g1c538 {
 background-image: url('../g1/c5_38.gif');
}
.g1c539 {
 background-image: url('../g1/c5_39.gif');
}
.g1c53a {
 background-image: url('../g1/c5_3a.gif');
}
.g1c53b {
 background-image: url('../g1/c5_3b.gif');
}
.g1c53c {
 background-image: url('../g1/c5_3c.gif');
}
.g1c53d {
 background-image: url('../g1/c5_3d.gif');
}
.g1c53e {
 background-image: url('../g1/c5_3e.gif');
}
.g1c53f {
 background-image: url('../g1/c5_3f.gif');
}
.g1c560 {
 background-image: url('../g1/c5_60.gif');
}
.g1c561 {
 background-image: url('../g1/c5_61.gif');
}
.g1c562 {
 background-image: url('../g1/c5_62.gif');
}
.g1c563 {
 background-image: url('../g1/c5_63.gif');
}
.g1c564 {
 background-image: url('../g1/c5_64.gif');
}
.g1c565 {
 background-image: url('../g1/c5_65.gif');
}
.g1c566 {
 background-image: url('../g1/c5_66.gif');
}
.g1c567 {
 background-image: url('../g1/c5_67.gif');
}
.g1c568 {
 background-image: url('../g1/c5_68.gif');
}
.g1c569 {
 background-image: url('../g1/c5_69.gif');
}
.g1c56a {
 background-image: url('../g1/c5_6a.gif');
}
.g1c56b {
 background-image: url('../g1/c5_6b.gif');
}
.g1c56c {
 background-image: url('../g1/c5_6c.gif');
}
.g1c56d {
 background-image: url('../g1/c5_6d.gif');
}
.g1c56e {
 background-image: url('../g1/c5_6e.gif');
}
.g1c56f {
 background-image: url('../g1/c5_6f.gif');
}
.g1c570 {
 background-image: url('../g1/c5_70.gif');
}
.g1c571 {
 background-image: url('../g1/c5_71.gif');
}
.g1c572 {
 background-image: url('../g1/c5_72.gif');
}
.g1c573 {
 background-image: url('../g1/c5_73.gif');
}
.g1c574 {
 background-image: url('../g1/c5_74.gif');
}
.g1c575 {
 background-image: url('../g1/c5_75.gif');
}
.g1c576 {
 background-image: url('../g1/c5_76.gif');
}
.g1c577 {
 background-image: url('../g1/c5_77.gif');
}
.g1c578 {
 background-image: url('../g1/c5_78.gif');
}
.g1c579 {
 background-image: url('../g1/c5_79.gif');
}
.g1c57a {
 background-image: url('../g1/c5_7a.gif');
}
.g1c57b {
 background-image: url('../g1/c5_7b.gif');
}
.g1c57c {
 background-image: url('../g1/c5_7c.gif');
}
.g1c57d {
 background-image: url('../g1/c5_7d.gif');
}
.g1c57e {
 background-image: url('../g1/c5_7e.gif');
}
.g1c57f {
 background-color: #ff00ff;
}
.g1c620 {
 background-image: url('../g1/c6_20.gif');
}
.g1c621 {
 background-image: url('../g1/c6_21.gif');
}
.g1c622 {
 background-image: url('../g1/c6_22.gif');
}
.g1c623 {
 background-image: url('../g1/c6_23.gif');
}
.g1c624 {
 background-image: url('../g1/c6_24.gif');
}
.g1c625 {
 background-image: url('../g1/c6_25.gif');
}
.g1c626 {
 background-image: url('../g1/c6_26.gif');
}
.g1c627 {
 background-image: url('../g1/c6_27.gif');
}
.g1c628 {
 background-image: url('../g1/c6_28.gif');
}
.g1c629 {
 background-image: url('../g1/c6_29.gif');
}
.g1c62a {
 background-image: url('../g1/c6_2a.gif');
}
.g1c62b {
 background-image: url('../g1/c6_2b.gif');
}
.g1c62c {
 background-image: url('../g1/c6_2c.gif');
}
.g1c62d {
 background-image: url('../g1/c6_2d.gif');
}
.g1c62e {
 background-image: url('../g1/c6_2e.gif');
}
.g1c62f {
 background-image: url('../g1/c6_2f.gif');
}
.g1c630 {
 background-image: url('../g1/c6_30.gif');
}
.g1c631 {
 background-image: url('../g1/c6_31.gif');
}
.g1c632 {
 background-image: url('../g1/c6_32.gif');
}
.g1c633 {
 background-image: url('../g1/c6_33.gif');
}
.g1c634 {
 background-image: url('../g1/c6_34.gif');
}
.g1c635 {
 background-image: url('../g1/c6_35.gif');
}
.g1c636 {
 background-image: url('../g1/c6_36.gif');
}
.g1c637 {
 background-image: url('../g1/c6_37.gif');
}
.g1c638 {
 background-image: url('../g1/c6_38.gif');
}
.g1c639 {
 background-image: url('../g1/c6_39.gif');
}
.g1c63a {
 background-image: url('../g1/c6_3a.gif');
}
.g1c63b {
 background-image: url('../g1/c6_3b.gif');
}
.g1c63c {
 background-image: url('../g1/c6_3c.gif');
}
.g1c63d {
 background-image: url('../g1/c6_3d.gif');
}
.g1c63e {
 background-image: url('../g1/c6_3e.gif');
}
.g1c63f {
 background-image: url('../g1/c6_3f.gif');
}
.g1c660 {
 background-image: url('../g1/c6_60.gif');
}
.g1c661 {
 background-image: url('../g1/c6_61.gif');
}
.g1c662 {
 background-image: url('../g1/c6_62.gif');
}
.g1c663 {
 background-image: url('../g1/c6_63.gif');
}
.g1c664 {
 background-image: url('../g1/c6_64.gif');
}
.g1c665 {
 background-image: url('../g1/c6_65.gif');
}
.g1c666 {
 background-image: url('../g1/c6_66.gif');
}
.g1c667 {
 background-image: url('../g1/c6_67.gif');
}
.g1c668 {
 background-image: url('../g1/c6_68.gif');
}
.g1c669 {
 background-image: url('../g1/c6_69.gif');
}
.g1c66a {
 background-image: url('../g1/c6_6a.gif');
}
.g1c66b {
 background-image: url('../g1/c6_6b.gif');
}
.g1c66c {
 background-image: url('../g1/c6_6c.gif');
}
.g1c66d {
 background-image: url('../g1/c6_6d.gif');
}
.g1c66e {
 background-image: url('../g1/c6_6e.gif');
}
.g1c66f {
 background-image: url('../g1/c6_6f.gif');
}
.g1c670 {
 background-image: url('../g1/c6_70.gif');
}
.g1c671 {
 background-image: url('../g1/c6_71.gif');
}
.g1c672 {
 background-image: url('../g1/c6_72.gif');
}
.g1c673 {
 background-image: url('../g1/c6_73.gif');
}
.g1c674 {
 background-image: url('../g1/c6_74.gif');
}
.g1c675 {
 background-image: url('../g1/c6_75.gif');
}
.g1c676 {
 background-image: url('../g1/c6_76.gif');
}
.g1c677 {
 background-image: url('../g1/c6_77.gif');
}
.g1c678 {
 background-image: url('../g1/c6_78.gif');
}
.g1c679 {
 background-image: url('../g1/c6_79.gif');
}
.g1c67a {
 background-image: url('../g1/c6_7a.gif');
}
.g1c67b {
 background-image: url('../g1/c6_7b.gif');
}
.g1c67c {
 background-image: url('../g1/c6_7c.gif');
}
.g1c67d {
 background-image: url('../g1/c6_7d.gif');
}
.g1c67e {
 background-image: url('../g1/c6_7e.gif');
}
.g1c67f {
 background-color: #00ffff;
}
.g1c720 {
 background-image: url('../g1/c7_20.gif');
}
.g1c721 {
 background-image: url('../g1/c7_21.gif');
}
.g1c722 {
 background-image: url('../g1/c7_22.gif');
}
.g1c723 {
 background-image: url('../g1/c7_23.gif');
}
.g1c724 {
 background-image: url('../g1/c7_24.gif');
}
.g1c725 {
 background-image: url('../g1/c7_25.gif');
}
.g1c726 {
 background-image: url('../g1/c7_26.gif');
}
.g1c727 {
 background-image: url('../g1/c7_27.gif');
}
.g1c728 {
 background-image: url('../g1/c7_28.gif');
}
.g1c729 {
 background-image: url('../g1/c7_29.gif');
}
.g1c72a {
 background-image: url('../g1/c7_2a.gif');
}
.g1c72b {
 background-image: url('../g1/c7_2b.gif');
}
.g1c72c {
 background-image: url('../g1/c7_2c.gif');
}
.g1c72d {
 background-image: url('../g1/c7_2d.gif');
}
.g1c72e {
 background-image: url('../g1/c7_2e.gif');
}
.g1c72f {
 background-image: url('../g1/c7_2f.gif');
}
.g1c730 {
 background-image: url('../g1/c7_30.gif');
}
.g1c731 {
 background-image: url('../g1/c7_31.gif');
}
.g1c732 {
 background-image: url('../g1/c7_32.gif');
}
.g1c733 {
 background-image: url('../g1/c7_33.gif');
}
.g1c734 {
 background-image: url('../g1/c7_34.gif');
}
.g1c735 {
 background-image: url('../g1/c7_35.gif');
}
.g1c736 {
 background-image: url('../g1/c7_36.gif');
}
.g1c737 {
 background-image: url('../g1/c7_37.gif');
}
.g1c738 {
 background-image: url('../g1/c7_38.gif');
}
.g1c739 {
 background-image: url('../g1/c7_39.gif');
}
.g1c73a {
 background-image: url('../g1/c7_3a.gif');
}
.g1c73b {
 background-image: url('../g1/c7_3b.gif');
}
.g1c73c {
 background-image: url('../g1/c7_3c.gif');
}
.g1c73d {
 background-image: url('../g1/c7_3d.gif');
}
.g1c73e {
 background-image: url('../g1/c7_3e.gif');
}
.g1c73f {
 background-image: url('../g1/c7_3f.gif');
}
.g1c760 {
 background-image: url('../g1/c7_60.gif');
}
.g1c761 {
 background-image: url('../g1/c7_61.gif');
}
.g1c762 {
 background-image: url('../g1/c7_62.gif');
}
.g1c763 {
 background-image: url('../g1/c7_63.gif');
}
.g1c764 {
 background-image: url('../g1/c7_64.gif');
}
.g1c765 {
 background-image: url('../g1/c7_65.gif');
}
.g1c766 {
 background-image: url('../g1/c7_66.gif');
}
.g1c767 {
 background-image: url('../g1/c7_67.gif');
}
.g1c768 {
 background-image: url('../g1/c7_68.gif');
}
.g1c769 {
 background-image: url('../g1/c7_69.gif');
}
.g1c76a {
 background-image: url('../g1/c7_6a.gif');
}
.g1c76b {
 background-image: url('../g1/c7_6b.gif');
}
.g1c76c {
 background-image: url('../g1/c7_6c.gif');
}
.g1c76d {
 background-image: url('../g1/c7_6d.gif');
}
.g1c76e {
 background-image: url('../g1/c7_6e.gif');
}
.g1c76f {
 background-image: url('../g1/c7_6f.gif');
}
.g1c770 {
 background-image: url('../g1/c7_70.gif');
}
.g1c771 {
 background-image: url('../g1/c7_71.gif');
}
.g1c772 {
 background-image: url('../g1/c7_72.gif');
}
.g1c773 {
 background-image: url('../g1/c7_73.gif');
}
.g1c774 {
 background-image: url('../g1/c7_74.gif');
}
.g1c775 {
 background-image: url('../g1/c7_75.gif');
}
.g1c776 {
 background-image: url('../g1/c7_76.gif');
}
.g1c777 {
 background-image: url('../g1/c7_77.gif');
}
.g1c778 {
 background-image: url('../g1/c7_78.gif');
}
.g1c779 {
 background-image: url('../g1/c7_79.gif');
}
.g1c77a {
 background-image: url('../g1/c7_7a.gif');
}
.g1c77b {
 background-image: url('../g1/c7_7b.gif');
}
.g1c77c {
 background-image: url('../g1/c7_7c.gif');
}
.g1c77d {
 background-image: url('../g1/c7_7d.gif');
}
.g1c77e {
 background-image: url('../g1/c7_7e.gif');
}
.g1c77f {
 background-color: #ffffff;
}
.g1s020 {
 background-image: url('../g1/s0_20.gif');
}
.g1s021 {
 background-image: url('../g1/s0_21.gif');
}
.g1s022 {
 background-image: url('../g1/s0_22.gif');
}
.g1s023 {
 background-image: url('../g1/s0_23.gif');
}
.g1s024 {
 background-image: url('../g1/s0_24.gif');
}
.g1s025 {
 background-image: url('../g1/s0_25.gif');
}
.g1s026 {
 background-image: url('../g1/s0_26.gif');
}
.g1s027 {
 background-image: url('../g1/s0_27.gif');
}
.g1s028 {
 background-image: url('../g1/s0_28.gif');
}
.g1s029 {
 background-image: url('../g1/s0_29.gif');
}
.g1s02a {
 background-image: url('../g1/s0_2a.gif');
}
.g1s02b {
 background-image: url('../g1/s0_2b.gif');
}
.g1s02c {
 background-image: url('../g1/s0_2c.gif');
}
.g1s02d {
 background-image: url('../g1/s0_2d.gif');
}
.g1s02e {
 background-image: url('../g1/s0_2e.gif');
}
.g1s02f {
 background-image: url('../g1/s0_2f.gif');
}
.g1s030 {
 background-image: url('../g1/s0_30.gif');
}
.g1s031 {
 background-image: url('../g1/s0_31.gif');
}
.g1s032 {
 background-image: url('../g1/s0_32.gif');
}
.g1s033 {
 background-image: url('../g1/s0_33.gif');
}
.g1s034 {
 background-image: url('../g1/s0_34.gif');
}
.g1s035 {
 background-image: url('../g1/s0_35.gif');
}
.g1s036 {
 background-image: url('../g1/s0_36.gif');
}
.g1s037 {
 background-image: url('../g1/s0_37.gif');
}
.g1s038 {
 background-image: url('../g1/s0_38.gif');
}
.g1s039 {
 background-image: url('../g1/s0_39.gif');
}
.g1s03a {
 background-image: url('../g1/s0_3a.gif');
}
.g1s03b {
 background-image: url('../g1/s0_3b.gif');
}
.g1s03c {
 background-image: url('../g1/s0_3c.gif');
}
.g1s03d {
 background-image: url('../g1/s0_3d.gif');
}
.g1s03e {
 background-image: url('../g1/s0_3e.gif');
}
.g1s03f {
 background-image: url('../g1/s0_3f.gif');
}
.g1s060 {
 background-image: url('../g1/s0_60.gif');
}
.g1s061 {
 background-image: url('../g1/s0_61.gif');
}
.g1s062 {
 background-image: url('../g1/s0_62.gif');
}
.g1s063 {
 background-image: url('../g1/s0_63.gif');
}
.g1s064 {
 background-image: url('../g1/s0_64.gif');
}
.g1s065 {
 background-image: url('../g1/s0_65.gif');
}
.g1s066 {
 background-image: url('../g1/s0_66.gif');
}
.g1s067 {
 background-image: url('../g1/s0_67.gif');
}
.g1s068 {
 background-image: url('../g1/s0_68.gif');
}
.g1s069 {
 background-image: url('../g1/s0_69.gif');
}
.g1s06a {
 background-image: url('../g1/s0_6a.gif');
}
.g1s06b {
 background-image: url('../g1/s0_6b.gif');
}
.g1s06c {
 background-image: url('../g1/s0_6c.gif');
}
.g1s06d {
 background-image: url('../g1/s0_6d.gif');
}
.g1s06e {
 background-image: url('../g1/s0_6e.gif');
}
.g1s06f {
 background-image: url('../g1/s0_6f.gif');
}
.g1s070 {
 background-image: url('../g1/s0_70.gif');
}
.g1s071 {
 background-image: url('../g1/s0_71.gif');
}
.g1s072 {
 background-image: url('../g1/s0_72.gif');
}
.g1s073 {
 background-image: url('../g1/s0_73.gif');
}
.g1s074 {
 background-image: url('../g1/s0_74.gif');
}
.g1s075 {
 background-image: url('../g1/s0_75.gif');
}
.g1s076 {
 background-image: url('../g1/s0_76.gif');
}
.g1s077 {
 background-image: url('../g1/s0_77.gif');
}
.g1s078 {
 background-image: url('../g1/s0_78.gif');
}
.g1s079 {
 background-image: url('../g1/s0_79.gif');
}
.g1s07a {
 background-image: url('../g1/s0_7a.gif');
}
.g1s07b {
 background-image: url('../g1/s0_7b.gif');
}
.g1s07c {
 background-image: url('../g1/s0_7c.gif');
}
.g1s07d {
 background-image: url('../g1/s0_7d.gif');
}
.g1s07e {
 background-image: url('../g1/s0_7e.gif');
}
.g1s07f {
 background-image: url('../g1/s0_7f.gif');
}
.g1s120 {
 background-image: url('../g1/s1_20.gif');
}
.g1s121 {
 background-image: url('../g1/s1_21.gif');
}
.g1s122 {
 background-image: url('../g1/s1_22.gif');
}
.g1s123 {
 background-image: url('../g1/s1_23.gif');
}
.g1s124 {
 background-image: url('../g1/s1_24.gif');
}
.g1s125 {
 background-image: url('../g1/s1_25.gif');
}
.g1s126 {
 background-image: url('../g1/s1_26.gif');
}
.g1s127 {
 background-image: url('../g1/s1_27.gif');
}
.g1s128 {
 background-image: url('../g1/s1_28.gif');
}
.g1s129 {
 background-image: url('../g1/s1_29.gif');
}
.g1s12a {
 background-image: url('../g1/s1_2a.gif');
}
.g1s12b {
 background-image: url('../g1/s1_2b.gif');
}
.g1s12c {
 background-image: url('../g1/s1_2c.gif');
}
.g1s12d {
 background-image: url('../g1/s1_2d.gif');
}
.g1s12e {
 background-image: url('../g1/s1_2e.gif');
}
.g1s12f {
 background-image: url('../g1/s1_2f.gif');
}
.g1s130 {
 background-image: url('../g1/s1_30.gif');
}
.g1s131 {
 background-image: url('../g1/s1_31.gif');
}
.g1s132 {
 background-image: url('../g1/s1_32.gif');
}
.g1s133 {
 background-image: url('../g1/s1_33.gif');
}
.g1s134 {
 background-image: url('../g1/s1_34.gif');
}
.g1s135 {
 background-image: url('../g1/s1_35.gif');
}
.g1s136 {
 background-image: url('../g1/s1_36.gif');
}
.g1s137 {
 background-image: url('../g1/s1_37.gif');
}
.g1s138 {
 background-image: url('../g1/s1_38.gif');
}
.g1s139 {
 background-image: url('../g1/s1_39.gif');
}
.g1s13a {
 background-image: url('../g1/s1_3a.gif');
}
.g1s13b {
 background-image: url('../g1/s1_3b.gif');
}
.g1s13c {
 background-image: url('../g1/s1_3c.gif');
}
.g1s13d {
 background-image: url('../g1/s1_3d.gif');
}
.g1s13e {
 background-image: url('../g1/s1_3e.gif');
}
.g1s13f {
 background-image: url('../g1/s1_3f.gif');
}
.g1s160 {
 background-image: url('../g1/s1_60.gif');
}
.g1s161 {
 background-image: url('../g1/s1_61.gif');
}
.g1s162 {
 background-image: url('../g1/s1_62.gif');
}
.g1s163 {
 background-image: url('../g1/s1_63.gif');
}
.g1s164 {
 background-image: url('../g1/s1_64.gif');
}
.g1s165 {
 background-image: url('../g1/s1_65.gif');
}
.g1s166 {
 background-image: url('../g1/s1_66.gif');
}
.g1s167 {
 background-image: url('../g1/s1_67.gif');
}
.g1s168 {
 background-image: url('../g1/s1_68.gif');
}
.g1s169 {
 background-image: url('../g1/s1_69.gif');
}
.g1s16a {
 background-image: url('../g1/s1_6a.gif');
}
.g1s16b {
 background-image: url('../g1/s1_6b.gif');
}
.g1s16c {
 background-image: url('../g1/s1_6c.gif');
}
.g1s16d {
 background-image: url('../g1/s1_6d.gif');
}
.g1s16e {
 background-image: url('../g1/s1_6e.gif');
}
.g1s16f {
 background-image: url('../g1/s1_6f.gif');
}
.g1s170 {
 background-image: url('../g1/s1_70.gif');
}
.g1s171 {
 background-image: url('../g1/s1_71.gif');
}
.g1s172 {
 background-image: url('../g1/s1_72.gif');
}
.g1s173 {
 background-image: url('../g1/s1_73.gif');
}
.g1s174 {
 background-image: url('../g1/s1_74.gif');
}
.g1s175 {
 background-image: url('../g1/s1_75.gif');
}
.g1s176 {
 background-image: url('../g1/s1_76.gif');
}
.g1s177 {
 background-image: url('../g1/s1_77.gif');
}
.g1s178 {
 background-image: url('../g1/s1_78.gif');
}
.g1s179 {
 background-image: url('../g1/s1_79.gif');
}
.g1s17a {
 background-image: url('../g1/s1_7a.gif');
}
.g1s17b {
 background-image: url('../g1/s1_7b.gif');
}
.g1s17c {
 background-image: url('../g1/s1_7c.gif');
}
.g1s17d {
 background-image: url('../g1/s1_7d.gif');
}
.g1s17e {
 background-image: url('../g1/s1_7e.gif');
}
.g1s17f {
 background-image: url('../g1/s1_7f.gif');
}
.g1s220 {
 background-image: url('../g1/s2_20.gif');
}
.g1s221 {
 background-image: url('../g1/s2_21.gif');
}
.g1s222 {
 background-image: url('../g1/s2_22.gif');
}
.g1s223 {
 background-image: url('../g1/s2_23.gif');
}
.g1s224 {
 background-image: url('../g1/s2_24.gif');
}
.g1s225 {
 background-image: url('../g1/s2_25.gif');
}
.g1s226 {
 background-image: url('../g1/s2_26.gif');
}
.g1s227 {
 background-image: url('../g1/s2_27.gif');
}
.g1s228 {
 background-image: url('../g1/s2_28.gif');
}
.g1s229 {
 background-image: url('../g1/s2_29.gif');
}
.g1s22a {
 background-image: url('../g1/s2_2a.gif');
}
.g1s22b {
 background-image: url('../g1/s2_2b.gif');
}
.g1s22c {
 background-image: url('../g1/s2_2c.gif');
}
.g1s22d {
 background-image: url('../g1/s2_2d.gif');
}
.g1s22e {
 background-image: url('../g1/s2_2e.gif');
}
.g1s22f {
 background-image: url('../g1/s2_2f.gif');
}
.g1s230 {
 background-image: url('../g1/s2_30.gif');
}
.g1s231 {
 background-image: url('../g1/s2_31.gif');
}
.g1s232 {
 background-image: url('../g1/s2_32.gif');
}
.g1s233 {
 background-image: url('../g1/s2_33.gif');
}
.g1s234 {
 background-image: url('../g1/s2_34.gif');
}
.g1s235 {
 background-image: url('../g1/s2_35.gif');
}
.g1s236 {
 background-image: url('../g1/s2_36.gif');
}
.g1s237 {
 background-image: url('../g1/s2_37.gif');
}
.g1s238 {
 background-image: url('../g1/s2_38.gif');
}
.g1s239 {
 background-image: url('../g1/s2_39.gif');
}
.g1s23a {
 background-image: url('../g1/s2_3a.gif');
}
.g1s23b {
 background-image: url('../g1/s2_3b.gif');
}
.g1s23c {
 background-image: url('../g1/s2_3c.gif');
}
.g1s23d {
 background-image: url('../g1/s2_3d.gif');
}
.g1s23e {
 background-image: url('../g1/s2_3e.gif');
}
.g1s23f {
 background-image: url('../g1/s2_3f.gif');
}
.g1s260 {
 background-image: url('../g1/s2_60.gif');
}
.g1s261 {
 background-image: url('../g1/s2_61.gif');
}
.g1s262 {
 background-image: url('../g1/s2_62.gif');
}
.g1s263 {
 background-image: url('../g1/s2_63.gif');
}
.g1s264 {
 background-image: url('../g1/s2_64.gif');
}
.g1s265 {
 background-image: url('../g1/s2_65.gif');
}
.g1s266 {
 background-image: url('../g1/s2_66.gif');
}
.g1s267 {
 background-image: url('../g1/s2_67.gif');
}
.g1s268 {
 background-image: url('../g1/s2_68.gif');
}
.g1s269 {
 background-image: url('../g1/s2_69.gif');
}
.g1s26a {
 background-image: url('../g1/s2_6a.gif');
}
.g1s26b {
 background-image: url('../g1/s2_6b.gif');
}
.g1s26c {
 background-image: url('../g1/s2_6c.gif');
}
.g1s26d {
 background-image: url('../g1/s2_6d.gif');
}
.g1s26e {
 background-image: url('../g1/s2_6e.gif');
}
.g1s26f {
 background-image: url('../g1/s2_6f.gif');
}
.g1s270 {
 background-image: url('../g1/s2_70.gif');
}
.g1s271 {
 background-image: url('../g1/s2_71.gif');
}
.g1s272 {
 background-image: url('../g1/s2_72.gif');
}
.g1s273 {
 background-image: url('../g1/s2_73.gif');
}
.g1s274 {
 background-image: url('../g1/s2_74.gif');
}
.g1s275 {
 background-image: url('../g1/s2_75.gif');
}
.g1s276 {
 background-image: url('../g1/s2_76.gif');
}
.g1s277 {
 background-image: url('../g1/s2_77.gif');
}
.g1s278 {
 background-image: url('../g1/s2_78.gif');
}
.g1s279 {
 background-image: url('../g1/s2_79.gif');
}
.g1s27a {
 background-image: url('../g1/s2_7a.gif');
}
.g1s27b {
 background-image: url('../g1/s2_7b.gif');
}
.g1s27c {
 background-image: url('../g1/s2_7c.gif');
}
.g1s27d {
 background-image: url('../g1/s2_7d.gif');
}
.g1s27e {
 background-image: url('../g1/s2_7e.gif');
}
.g1s27f {
 background-image: url('../g1/s2_7f.gif');
}
.g1s320 {
 background-image: url('../g1/s3_20.gif');
}
.g1s321 {
 background-image: url('../g1/s3_21.gif');
}
.g1s322 {
 background-image: url('../g1/s3_22.gif');
}
.g1s323 {
 background-image: url('../g1/s3_23.gif');
}
.g1s324 {
 background-image: url('../g1/s3_24.gif');
}
.g1s325 {
 background-image: url('../g1/s3_25.gif');
}
.g1s326 {
 background-image: url('../g1/s3_26.gif');
}
.g1s327 {
 background-image: url('../g1/s3_27.gif');
}
.g1s328 {
 background-image: url('../g1/s3_28.gif');
}
.g1s329 {
 background-image: url('../g1/s3_29.gif');
}
.g1s32a {
 background-image: url('../g1/s3_2a.gif');
}
.g1s32b {
 background-image: url('../g1/s3_2b.gif');
}
.g1s32c {
 background-image: url('../g1/s3_2c.gif');
}
.g1s32d {
 background-image: url('../g1/s3_2d.gif');
}
.g1s32e {
 background-image: url('../g1/s3_2e.gif');
}
.g1s32f {
 background-image: url('../g1/s3_2f.gif');
}
.g1s330 {
 background-image: url('../g1/s3_30.gif');
}
.g1s331 {
 background-image: url('../g1/s3_31.gif');
}
.g1s332 {
 background-image: url('../g1/s3_32.gif');
}
.g1s333 {
 background-image: url('../g1/s3_33.gif');
}
.g1s334 {
 background-image: url('../g1/s3_34.gif');
}
.g1s335 {
 background-image: url('../g1/s3_35.gif');
}
.g1s336 {
 background-image: url('../g1/s3_36.gif');
}
.g1s337 {
 background-image: url('../g1/s3_37.gif');
}
.g1s338 {
 background-image: url('../g1/s3_38.gif');
}
.g1s339 {
 background-image: url('../g1/s3_39.gif');
}
.g1s33a {
 background-image: url('../g1/s3_3a.gif');
}
.g1s33b {
 background-image: url('../g1/s3_3b.gif');
}
.g1s33c {
 background-image: url('../g1/s3_3c.gif');
}
.g1s33d {
 background-image: url('../g1/s3_3d.gif');
}
.g1s33e {
 background-image: url('../g1/s3_3e.gif');
}
.g1s33f {
 background-image: url('../g1/s3_3f.gif');
}
.g1s360 {
 background-image: url('../g1/s3_60.gif');
}
.g1s361 {
 background-image: url('../g1/s3_61.gif');
}
.g1s362 {
 background-image: url('../g1/s3_62.gif');
}
.g1s363 {
 background-image: url('../g1/s3_63.gif');
}
.g1s364 {
 background-image: url('../g1/s3_64.gif');
}
.g1s365 {
 background-image: url('../g1/s3_65.gif');
}
.g1s366 {
 background-image: url('../g1/s3_66.gif');
}
.g1s367 {
 background-image: url('../g1/s3_67.gif');
}
.g1s368 {
 background-image: url('../g1/s3_68.gif');
}
.g1s369 {
 background-image: url('../g1/s3_69.gif');
}
.g1s36a {
 background-image: url('../g1/s3_6a.gif');
}
.g1s36b {
 background-image: url('../g1/s3_6b.gif');
}
.g1s36c {
 background-image: url('../g1/s3_6c.gif');
}
.g1s36d {
 background-image: url('../g1/s3_6d.gif');
}
.g1s36e {
 background-image: url('../g1/s3_6e.gif');
}
.g1s36f {
 background-image: url('../g1/s3_6f.gif');
}
.g1s370 {
 background-image: url('../g1/s3_70.gif');
}
.g1s371 {
 background-image: url('../g1/s3_71.gif');
}
.g1s372 {
 background-image: url('../g1/s3_72.gif');
}
.g1s373 {
 background-image: url('../g1/s3_73.gif');
}
.g1s374 {
 background-image: url('../g1/s3_74.gif');
}
.g1s375 {
 background-image: url('../g1/s3_75.gif');
}
.g1s376 {
 background-image: url('../g1/s3_76.gif');
}
.g1s377 {
 background-image: url('../g1/s3_77.gif');
}
.g1s378 {
 background-image: url('../g1/s3_78.gif');
}
.g1s379 {
 background-image: url('../g1/s3_79.gif');
}
.g1s37a {
 background-image: url('../g1/s3_7a.gif');
}
.g1s37b {
 background-image: url('../g1/s3_7b.gif');
}
.g1s37c {
 background-image: url('../g1/s3_7c.gif');
}
.g1s37d {
 background-image: url('../g1/s3_7d.gif');
}
.g1s37e {
 background-image: url('../g1/s3_7e.gif');
}
.g1s37f {
 background-image: url('../g1/s3_7f.gif');
}
.g1s420 {
 background-image: url('../g1/s4_20.gif');
}
.g1s421 {
 background-image: url('../g1/s4_21.gif');
}
.g1s422 {
 background-image: url('../g1/s4_22.gif');
}
.g1s423 {
 background-image: url('../g1/s4_23.gif');
}
.g1s424 {
 background-image: url('../g1/s4_24.gif');
}
.g1s425 {
 background-image: url('../g1/s4_25.gif');
}
.g1s426 {
 background-image: url('../g1/s4_26.gif');
}
.g1s427 {
 background-image: url('../g1/s4_27.gif');
}
.g1s428 {
 background-image: url('../g1/s4_28.gif');
}
.g1s429 {
 background-image: url('../g1/s4_29.gif');
}
.g1s42a {
 background-image: url('../g1/s4_2a.gif');
}
.g1s42b {
 background-image: url('../g1/s4_2b.gif');
}
.g1s42c {
 background-image: url('../g1/s4_2c.gif');
}
.g1s42d {
 background-image: url('../g1/s4_2d.gif');
}
.g1s42e {
 background-image: url('../g1/s4_2e.gif');
}
.g1s42f {
 background-image: url('../g1/s4_2f.gif');
}
.g1s430 {
 background-image: url('../g1/s4_30.gif');
}
.g1s431 {
 background-image: url('../g1/s4_31.gif');
}
.g1s432 {
 background-image: url('../g1/s4_32.gif');
}
.g1s433 {
 background-image: url('../g1/s4_33.gif');
}
.g1s434 {
 background-image: url('../g1/s4_34.gif');
}
.g1s435 {
 background-image: url('../g1/s4_35.gif');
}
.g1s436 {
 background-image: url('../g1/s4_36.gif');
}
.g1s437 {
 background-image: url('../g1/s4_37.gif');
}
.g1s438 {
 background-image: url('../g1/s4_38.gif');
}
.g1s439 {
 background-image: url('../g1/s4_39.gif');
}
.g1s43a {
 background-image: url('../g1/s4_3a.gif');
}
.g1s43b {
 background-image: url('../g1/s4_3b.gif');
}
.g1s43c {
 background-image: url('../g1/s4_3c.gif');
}
.g1s43d {
 background-image: url('../g1/s4_3d.gif');
}
.g1s43e {
 background-image: url('../g1/s4_3e.gif');
}
.g1s43f {
 background-image: url('../g1/s4_3f.gif');
}
.g1s460 {
 background-image: url('../g1/s4_60.gif');
}
.g1s461 {
 background-image: url('../g1/s4_61.gif');
}
.g1s462 {
 background-image: url('../g1/s4_62.gif');
}
.g1s463 {
 background-image: url('../g1/s4_63.gif');
}
.g1s464 {
 background-image: url('../g1/s4_64.gif');
}
.g1s465 {
 background-image: url('../g1/s4_65.gif');
}
.g1s466 {
 background-image: url('../g1/s4_66.gif');
}
.g1s467 {
 background-image: url('../g1/s4_67.gif');
}
.g1s468 {
 background-image: url('../g1/s4_68.gif');
}
.g1s469 {
 background-image: url('../g1/s4_69.gif');
}
.g1s46a {
 background-image: url('../g1/s4_6a.gif');
}
.g1s46b {
 background-image: url('../g1/s4_6b.gif');
}
.g1s46c {
 background-image: url('../g1/s4_6c.gif');
}
.g1s46d {
 background-image: url('../g1/s4_6d.gif');
}
.g1s46e {
 background-image: url('../g1/s4_6e.gif');
}
.g1s46f {
 background-image: url('../g1/s4_6f.gif');
}
.g1s470 {
 background-image: url('../g1/s4_70.gif');
}
.g1s471 {
 background-image: url('../g1/s4_71.gif');
}
.g1s472 {
 background-image: url('../g1/s4_72.gif');
}
.g1s473 {
 background-image: url('../g1/s4_73.gif');
}
.g1s474 {
 background-image: url('../g1/s4_74.gif');
}
.g1s475 {
 background-image: url('../g1/s4_75.gif');
}
.g1s476 {
 background-image: url('../g1/s4_76.gif');
}
.g1s477 {
 background-image: url('../g1/s4_77.gif');
}
.g1s478 {
 background-image: url('../g1/s4_78.gif');
}
.g1s479 {
 background-image: url('../g1/s4_79.gif');
}
.g1s47a {
 background-image: url('../g1/s4_7a.gif');
}
.g1s47b {
 background-image: url('../g1/s4_7b.gif');
}
.g1s47c {
 background-image: url('../g1/s4_7c.gif');
}
.g1s47d {
 background-image: url('../g1/s4_7d.gif');
}
.g1s47e {
 background-image: url('../g1/s4_7e.gif');
}
.g1s47f {
 background-image: url('../g1/s4_7f.gif');
}
.g1s520 {
 background-image: url('../g1/s5_20.gif');
}
.g1s521 {
 background-image: url('../g1/s5_21.gif');
}
.g1s522 {
 background-image: url('../g1/s5_22.gif');
}
.g1s523 {
 background-image: url('../g1/s5_23.gif');
}
.g1s524 {
 background-image: url('../g1/s5_24.gif');
}
.g1s525 {
 background-image: url('../g1/s5_25.gif');
}
.g1s526 {
 background-image: url('../g1/s5_26.gif');
}
.g1s527 {
 background-image: url('../g1/s5_27.gif');
}
.g1s528 {
 background-image: url('../g1/s5_28.gif');
}
.g1s529 {
 background-image: url('../g1/s5_29.gif');
}
.g1s52a {
 background-image: url('../g1/s5_2a.gif');
}
.g1s52b {
 background-image: url('../g1/s5_2b.gif');
}
.g1s52c {
 background-image: url('../g1/s5_2c.gif');
}
.g1s52d {
 background-image: url('../g1/s5_2d.gif');
}
.g1s52e {
 background-image: url('../g1/s5_2e.gif');
}
.g1s52f {
 background-image: url('../g1/s5_2f.gif');
}
.g1s530 {
 background-image: url('../g1/s5_30.gif');
}
.g1s531 {
 background-image: url('../g1/s5_31.gif');
}
.g1s532 {
 background-image: url('../g1/s5_32.gif');
}
.g1s533 {
 background-image: url('../g1/s5_33.gif');
}
.g1s534 {
 background-image: url('../g1/s5_34.gif');
}
.g1s535 {
 background-image: url('../g1/s5_35.gif');
}
.g1s536 {
 background-image: url('../g1/s5_36.gif');
}
.g1s537 {
 background-image: url('../g1/s5_37.gif');
}
.g1s538 {
 background-image: url('../g1/s5_38.gif');
}
.g1s539 {
 background-image: url('../g1/s5_39.gif');
}
.g1s53a {
 background-image: url('../g1/s5_3a.gif');
}
.g1s53b {
 background-image: url('../g1/s5_3b.gif');
}
.g1s53c {
 background-image: url('../g1/s5_3c.gif');
}
.g1s53d {
 background-image: url('../g1/s5_3d.gif');
}
.g1s53e {
 background-image: url('../g1/s5_3e.gif');
}
.g1s53f {
 background-image: url('../g1/s5_3f.gif');
}
.g1s560 {
 background-image: url('../g1/s5_60.gif');
}
.g1s561 {
 background-image: url('../g1/s5_61.gif');
}
.g1s562 {
 background-image: url('../g1/s5_62.gif');
}
.g1s563 {
 background-image: url('../g1/s5_63.gif');
}
.g1s564 {
 background-image: url('../g1/s5_64.gif');
}
.g1s565 {
 background-image: url('../g1/s5_65.gif');
}
.g1s566 {
 background-image: url('../g1/s5_66.gif');
}
.g1s567 {
 background-image: url('../g1/s5_67.gif');
}
.g1s568 {
 background-image: url('../g1/s5_68.gif');
}
.g1s569 {
 background-image: url('../g1/s5_69.gif');
}
.g1s56a {
 background-image: url('../g1/s5_6a.gif');
}
.g1s56b {
 background-image: url('../g1/s5_6b.gif');
}
.g1s56c {
 background-image: url('../g1/s5_6c.gif');
}
.g1s56d {
 background-image: url('../g1/s5_6d.gif');
}
.g1s56e {
 background-image: url('../g1/s5_6e.gif');
}
.g1s56f {
 background-image: url('../g1/s5_6f.gif');
}
.g1s570 {
 background-image: url('../g1/s5_70.gif');
}
.g1s571 {
 background-image: url('../g1/s5_71.gif');
}
.g1s572 {
 background-image: url('../g1/s5_72.gif');
}
.g1s573 {
 background-image: url('../g1/s5_73.gif');
}
.g1s574 {
 background-image: url('../g1/s5_74.gif');
}
.g1s575 {
 background-image: url('../g1/s5_75.gif');
}
.g1s576 {
 background-image: url('../g1/s5_76.gif');
}
.g1s577 {
 background-image: url('../g1/s5_77.gif');
}
.g1s578 {
 background-image: url('../g1/s5_78.gif');
}
.g1s579 {
 background-image: url('../g1/s5_79.gif');
}
.g1s57a {
 background-image: url('../g1/s5_7a.gif');
}
.g1s57b {
 background-image: url('../g1/s5_7b.gif');
}
.g1s57c {
 background-image: url('../g1/s5_7c.gif');
}
.g1s57d {
 background-image: url('../g1/s5_7d.gif');
}
.g1s57e {
 background-image: url('../g1/s5_7e.gif');
}
.g1s57f {
 background-image: url('../g1/s5_7f.gif');
}
.g1s620 {
 background-image: url('../g1/s6_20.gif');
}
.g1s621 {
 background-image: url('../g1/s6_21.gif');
}
.g1s622 {
 background-image: url('../g1/s6_22.gif');
}
.g1s623 {
 background-image: url('../g1/s6_23.gif');
}
.g1s624 {
 background-image: url('../g1/s6_24.gif');
}
.g1s625 {
 background-image: url('../g1/s6_25.gif');
}
.g1s626 {
 background-image: url('../g1/s6_26.gif');
}
.g1s627 {
 background-image: url('../g1/s6_27.gif');
}
.g1s628 {
 background-image: url('../g1/s6_28.gif');
}
.g1s629 {
 background-image: url('../g1/s6_29.gif');
}
.g1s62a {
 background-image: url('../g1/s6_2a.gif');
}
.g1s62b {
 background-image: url('../g1/s6_2b.gif');
}
.g1s62c {
 background-image: url('../g1/s6_2c.gif');
}
.g1s62d {
 background-image: url('../g1/s6_2d.gif');
}
.g1s62e {
 background-image: url('../g1/s6_2e.gif');
}
.g1s62f {
 background-image: url('../g1/s6_2f.gif');
}
.g1s630 {
 background-image: url('../g1/s6_30.gif');
}
.g1s631 {
 background-image: url('../g1/s6_31.gif');
}
.g1s632 {
 background-image: url('../g1/s6_32.gif');
}
.g1s633 {
 background-image: url('../g1/s6_33.gif');
}
.g1s634 {
 background-image: url('../g1/s6_34.gif');
}
.g1s635 {
 background-image: url('../g1/s6_35.gif');
}
.g1s636 {
 background-image: url('../g1/s6_36.gif');
}
.g1s637 {
 background-image: url('../g1/s6_37.gif');
}
.g1s638 {
 background-image: url('../g1/s6_38.gif');
}
.g1s639 {
 background-image: url('../g1/s6_39.gif');
}
.g1s63a {
 background-image: url('../g1/s6_3a.gif');
}
.g1s63b {
 background-image: url('../g1/s6_3b.gif');
}
.g1s63c {
 background-image: url('../g1/s6_3c.gif');
}
.g1s63d {
 background-image: url('../g1/s6_3d.gif');
}
.g1s63e {
 background-image: url('../g1/s6_3e.gif');
}
.g1s63f {
 background-image: url('../g1/s6_3f.gif');
}
.g1s660 {
 background-image: url('../g1/s6_60.gif');
}
.g1s661 {
 background-image: url('../g1/s6_61.gif');
}
.g1s662 {
 background-image: url('../g1/s6_62.gif');
}
.g1s663 {
 background-image: url('../g1/s6_63.gif');
}
.g1s664 {
 background-image: url('../g1/s6_64.gif');
}
.g1s665 {
 background-image: url('../g1/s6_65.gif');
}
.g1s666 {
 background-image: url('../g1/s6_66.gif');
}
.g1s667 {
 background-image: url('../g1/s6_67.gif');
}
.g1s668 {
 background-image: url('../g1/s6_68.gif');
}
.g1s669 {
 background-image: url('../g1/s6_69.gif');
}
.g1s66a {
 background-image: url('../g1/s6_6a.gif');
}
.g1s66b {
 background-image: url('../g1/s6_6b.gif');
}
.g1s66c {
 background-image: url('../g1/s6_6c.gif');
}
.g1s66d {
 background-image: url('../g1/s6_6d.gif');
}
.g1s66e {
 background-image: url('../g1/s6_6e.gif');
}
.g1s66f {
 background-image: url('../g1/s6_6f.gif');
}
.g1s670 {
 background-image: url('../g1/s6_70.gif');
}
.g1s671 {
 background-image: url('../g1/s6_71.gif');
}
.g1s672 {
 background-image: url('../g1/s6_72.gif');
}
.g1s673 {
 background-image: url('../g1/s6_73.gif');
}
.g1s674 {
 background-image: url('../g1/s6_74.gif');
}
.g1s675 {
 background-image: url('../g1/s6_75.gif');
}
.g1s676 {
 background-image: url('../g1/s6_76.gif');
}
.g1s677 {
 background-image: url('../g1/s6_77.gif');
}
.g1s678 {
 background-image: url('../g1/s6_78.gif');
}
.g1s679 {
 background-image: url('../g1/s6_79.gif');
}
.g1s67a {
 background-image: url('../g1/s6_7a.gif');
}
.g1s67b {
 background-image: url('../g1/s6_7b.gif');
}
.g1s67c {
 background-image: url('../g1/s6_7c.gif');
}
.g1s67d {
 background-image: url('../g1/s6_7d.gif');
}
.g1s67e {
 background-image: url('../g1/s6_7e.gif');
}
.g1s67f {
 background-image: url('../g1/s6_7f.gif');
}
.g1s720 {
 background-image: url('../g1/s7_20.gif');
}
.g1s721 {
 background-image: url('../g1/s7_21.gif');
}
.g1s722 {
 background-image: url('../g1/s7_22.gif');
}
.g1s723 {
 background-image: url('../g1/s7_23.gif');
}
.g1s724 {
 background-image: url('../g1/s7_24.gif');
}
.g1s725 {
 background-image: url('../g1/s7_25.gif');
}
.g1s726 {
 background-image: url('../g1/s7_26.gif');
}
.g1s727 {
 background-image: url('../g1/s7_27.gif');
}
.g1s728 {
 background-image: url('../g1/s7_28.gif');
}
.g1s729 {
 background-image: url('../g1/s7_29.gif');
}
.g1s72a {
 background-image: url('../g1/s7_2a.gif');
}
.g1s72b {
 background-image: url('../g1/s7_2b.gif');
}
.g1s72c {
 background-image: url('../g1/s7_2c.gif');
}
.g1s72d {
 background-image: url('../g1/s7_2d.gif');
}
.g1s72e {
 background-image: url('../g1/s7_2e.gif');
}
.g1s72f {
 background-image: url('../g1/s7_2f.gif');
}
.g1s730 {
 background-image: url('../g1/s7_30.gif');
}
.g1s731 {
 background-image: url('../g1/s7_31.gif');
}
.g1s732 {
 background-image: url('../g1/s7_32.gif');
}
.g1s733 {
 background-image: url('../g1/s7_33.gif');
}
.g1s734 {
 background-image: url('../g1/s7_34.gif');
}
.g1s735 {
 background-image: url('../g1/s7_35.gif');
}
.g1s736 {
 background-image: url('../g1/s7_36.gif');
}
.g1s737 {
 background-image: url('../g1/s7_37.gif');
}
.g1s738 {
 background-image: url('../g1/s7_38.gif');
}
.g1s739 {
 background-image: url('../g1/s7_39.gif');
}
.g1s73a {
 background-image: url('../g1/s7_3a.gif');
}
.g1s73b {
 background-image: url('../g1/s7_3b.gif');
}
.g1s73c {
 background-image: url('../g1/s7_3c.gif');
}
.g1s73d {
 background-image: url('../g1/s7_3d.gif');
}
.g1s73e {
 background-image: url('../g1/s7_3e.gif');
}
.g1s73f {
 background-image: url('../g1/s7_3f.gif');
}
.g1s760 {
 background-image: url('../g1/s7_60.gif');
}
.g1s761 {
 background-image: url('../g1/s7_61.gif');
}
.g1s762 {
 background-image: url('../g1/s7_62.gif');
}
.g1s763 {
 background-image: url('../g1/s7_63.gif');
}
.g1s764 {
 background-image: url('../g1/s7_64.gif');
}
.g1s765 {
 background-image: url('../g1/s7_65.gif');
}
.g1s766 {
 background-image: url('../g1/s7_66.gif');
}
.g1s767 {
 background-image: url('../g1/s7_67.gif');
}
.g1s768 {
 background-image: url('../g1/s7_68.gif');
}
.g1s769 {
 background-image: url('../g1/s7_69.gif');
}
.g1s76a {
 background-image: url('../g1/s7_6a.gif');
}
.g1s76b {
 background-image: url('../g1/s7_6b.gif');
}
.g1s76c {
 background-image: url('../g1/s7_6c.gif');
}
.g1s76d {
 background-image: url('../g1/s7_6d.gif');
}
.g1s76e {
 background-image: url('../g1/s7_6e.gif');
}
.g1s76f {
 background-image: url('../g1/s7_6f.gif');
}
.g1s770 {
 background-image: url('../g1/s7_70.gif');
}
.g1s771 {
 background-image: url('../g1/s7_71.gif');
}
.g1s772 {
 background-image: url('../g1/s7_72.gif');
}
.g1s773 {
 background-image: url('../g1/s7_73.gif');
}
.g1s774 {
 background-image: url('../g1/s7_74.gif');
}
.g1s775 {
 background-image: url('../g1/s7_75.gif');
}
.g1s776 {
 background-image: url('../g1/s7_76.gif');
}
.g1s777 {
 background-image: url('../g1/s7_77.gif');
}
.g1s778 {
 background-image: url('../g1/s7_78.gif');
}
.g1s779 {
 background-image: url('../g1/s7_79.gif');
}
.g1s77a {
 background-image: url('../g1/s7_7a.gif');
}
.g1s77b {
 background-image: url('../g1/s7_7b.gif');
}
.g1s77c {
 background-image: url('../g1/s7_7c.gif');
}
.g1s77d {
 background-image: url('../g1/s7_7d.gif');
}
.g1s77e {
 background-image: url('../g1/s7_7e.gif');
}
.g1s77f {
 background-image: url('../g1/s7_7f.gif');
}
