div, span, body, pre, ul, li, h1, h2, h3, h4, form {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

nav.c-serviceNav {
    padding: 15px 0;
}

#nav {
    display: inline-block;
    width: 320px;
    margin-top: 16px;
    padding: 0 0 0 10px;
    overflow: visible;
    font-size: 14px;
    line-height: 17px;
}

#ttxNumPad a, .numPadRow a,  {
    width: 320px;
    margin-top: 10px;
    padding: 0 0 0 10px;
    overflow: visible;
    font-size: 14px;
}

@media (max-width: 1000px) {
    #ttxContainer {
        float: none !important;
        text-align: center;
        padding: 0;
        margin: 1em -14px;
    }
    #ttxPage {
        width: 100%;
        margin: 0 !important;
        padding: 2px 10px 2px 0px !important;
        float: none;
        text-align: center;
        display: inline-block !important;
    }
    #nav {
        display: block;
        clear: both;
        width: unset !important;
        float: none !important;
        text-align: center;
        margin: 1em -14px 0 -14px;
        padding: 10px 0px 0px 0px !important;
    }
    .ttxRow {
        font-size: 14px !important;
        line-height: 16px !important;
        letter-spacing: normal !important;
        display: block !important;
    }

}

#footer {
    display: none;
    font-size: 10px;
    font-family: sans-serif;
    float: left;
    clear: both;
    margin: 16px 0 0 24px;
    padding: 0 0 0 20px;
    overflow: visible;
}

#ttxContainer {
    display: block;
    float: left;
}

#ttxPage {
    background: #000000;
    margin: 1em 0;
    padding: 7px 8px 8px 8px;
    float: left;
}

.ttxRow {
    font-family: 'Consolas', ui-monospace, monospace;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 3px;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    white-space: pre;
    background-color: #000000;
    position: relative;
}

.ttxRow span {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 103% 101%;
    overflow: visible;
    position: relative;
}

.ttxRow a {
    text-decoration: none;
}

.ttxRow a:hover {
    background-color: #bbbbbb;
    color: #333333;
}

#ttxEnv, #ttxRow0Template {
    display: none !important;
}

#row0 {
    z-index: 100;
}

#row1 {
    z-index: 99;
}

#row2 {
    z-index: 98;
}

#row3 {
    z-index: 97;
}

#row4 {
    z-index: 96;
}

#row5 {
    z-index: 95;
}

#row6 {
    z-index: 94;
}

#row7 {
    z-index: 93;
}

#row8 {
    z-index: 92;
}

#row9 {
    z-index: 91;
}

#row10 {
    z-index: 90;
}

#row11 {
    z-index: 89;
}

#row12 {
    z-index: 88;
}

#row13 {
    z-index: 87;
}

#row14 {
    z-index: 86;
}

#row15 {
    z-index: 85;
}

#row16 {
    z-index: 84;
}

#row17 {
    z-index: 83;
}

#row18 {
    z-index: 82;
}

#row19 {
    z-index: 81;
}

#row20 {
    z-index: 80;
}

#row21 {
    z-index: 79;
}

#row22 {
    z-index: 78;
}

#row23 {
    z-index: 77;
}

#row24 {
    z-index: 76;
}

.z100 {
    z-index: 100;
}

.z0 {
    z-index: 0;
}

.flash {
  animation: flash 1s linear infinite;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  63% {
    opacity: 0.5;
  }
  77% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.dh {
    display: inline-block;
    overflow: visible;
    z-index: 101;
    position: relative;
    -webkit-transform:scale(1,2); /* Safari and Chrome */
    -moz-transform:scale(1,2); /* Firefox */
    -ms-transform:scale(1,2); /* IE 9 */
    -o-transform:scale(1,2); /* Opera */
    transform:scale(1,2); /* W3C */
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
}

.dw {
    display: inline-block;
    overflow: visible;
    z-index: 100;
    position: relative;
    -webkit-transform:scale(2,1); /* Safari and Chrome */
    -moz-transform:scale(2,1); /* Firefox */
    -ms-transform:scale(2,1); /* IE 9 */
    -o-transform:scale(2,1); /* Opera */
    transform:scale(2,1); /* W3C */
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
}

.ds {
    display: inline-block;
    overflow: visible;
    z-index: 100;
    position: relative;
    -webkit-transform:scale(2,2); /* Safari and Chrome */
    -moz-transform:scale(2,2); /* Firefox */
    -ms-transform:scale(2,2); /* IE 9 */
    -o-transform:scale(2,2); /* Opera */
    transform:scale(2,2); /* W3C */
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
}

.fg0, .fg0 a {
    color: #000000;
}

.fg1, .fg1 a {
    color: #ff0000;
}

.fg2, .fg2 a {
    color: #00ff00;
}

.fg3, .fg3 a {
    color: #ffff00;
}

.fg4, .fg4 a {
    color: #0000ff;
}

.fg5, .fg5 a {
    color: #ff00ff;
}

.fg6, .fg6 a {
    color: #00ffff;
}

.fg7, .fg7 a {
    color: #ffffff;
}

.bg0 {
    background-color: #000000;
}

.bg1 {
    background-color: #ff0000;
}

.bg2 {
    background-color: #00ff00;
}

.bg3 {
    background-color: #ffff00;
}

.bg4 {
    background-color: #0000ff;
}

.bg5 {
    background-color: #ff00ff;
}

.bg6 {
    background-color: #00ffff;
}

.bg7 {
    background-color: #ffffff;
}

#ttxQuickLinks {
    border-top: 1px #FFFFFF solid;
    margin-top: 0.1em;
    padding: 0.8em 0.2em 0.75em 0.8em;
    text-align: center;
    color: #FFFFFF;
    font-size: 13px;
    font-family: 'DIN', sans-serif;
}

#ttxQuickLinks ul {
    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#ttxQuickLinks ul li {
    padding: 3px 4px 4px 4px;
    margin: 0;
}

#ttxQuickLinks ul li a {
    color: #FFFFFF;
    text-decoration: none;
}

#ttxQuickLinks ul li a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

#ttxNumPad {
    overflow: visible;
}

#ttxNumPadButton H3 {
    display: inline;
    padding-right: 0.3em;
    font-weight: bold;
}

#ttxNumPadButton form {
    padding-left: 0;
    width: 14em;
    text-align: left;
    margin: 0.2em auto 0 auto;
}

.inputtext {
    width: 3em;
    margin: 0 0.2em 0 0.4em;
    text-align: center;
    font-family: sans-serif;
}

#ttxNumPadButton input .inputbutton {
    font-size: 0.7em;
    width: 8em;
    margin: 0 0.4em 0 0.2em;
    background-color: #ffffff;
    color: #a00d65;
    font-family: sans-serif;
}

#ttxNumPad,
#ttxNumPadButton {
    border: 0px;
    padding: 0.2em 0.0em 0.5em 0.2em;
    background-color: #4b6464;
}

#ttxNumPadButton {
    border-top: 1px solid white;
    width: 54px;
}

.number {
    font-weight: bold;
    color: #a00d65;
    background-color: #ffffff;
    float: left;
    height: 23px;
}

#ttxNumPad a.number {
    color: #a00d65;
    text-decoration: none;
    text-align: center;
    padding: 0.3em 0;
    box-sizing: border-box;
    width: 100%;
}

#ttxNumPad a.number:hover {
    color: #ffffff;
    background-color: #a00d65;
}

.numPadRow {
    padding-left: 3px;
    overflow: visible;
    border: 0px;
    margin-top: 0.8em;
    text-align: center;
}

.numPadRow div.left {
    display: inline-block;
    width: 4em;
    margin-right: 1em;
    border: 0px;
}

.numPadRow div.middle {
    display: inline-block;
    width: 4em;
    margin-right: 1em;
    border: 0px;
}

.numPadRow div.right {
    display: inline-block;
    width: 4em;
    border: 0px;
}

.numPadRow div.center {
    display: inline-block;
    margin: 0 auto;
    width: 4em;
}

.noScript {
    display: inline;
}

#ttxNavigation {
    text-align: center;
    margin: 0;
    padding: 0 0 0 0;
    width: 100%;
    background-color: #4b6464;
}

.row {
    border-bottom: 1px solid white;
    padding: 0 0 0.45em 0.4em;
    margin: 0;
}

#ttxNavigation .buttonarrowleft a.arrowleft,
#ttxNavigation .buttonarrowright a.arrowright,
#ttxNavigation .buttonarrowleft a.arrowleft:hover,
#ttxNavigation .buttonarrowright a.arrowright:hover {
    font-weight: bold;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 0.4em 0em 0em 0em;
    width: 100%;
    box-sizing: border-box;
    height: 23px;
    width: 54px;
}

#ttxNavigation .buttonarrowleft a.arrowleft,
#ttxNavigation .buttonarrowright a.arrowright {
    color: #a00d65;
    background-color: #ffffff;
}

#ttxNavigation a.arrowleft:hover,
#ttxNavigation a.arrowright:hover {
    color: #ffffff;
    background-color: #a00d65;
}

#ttxNavigation .arrowleft,
#ttxNavigation .arrowright {
    font-weight: bold;
    font-size: 0.8em;
    color: #a00d65;
    background-color: #ffffff;
}

#ttxNavigation .arrowleft {
    text-align: right;
}

#ttxNavigation .arrowright {
    text-align: left;
}

.buttonarrowleft,
.currpage,
.buttonarrowright {
    margin: 1.1em 0.0em 0.1em 0.0em;
    border: 0px;
}

.buttonarrowleft,
.currpage {
    display: inline-block;
}

.buttonarrowleft,
.buttonarrowright {
    width: 4em;
    box-sizing: border-box;
}

.buttonarrowright {
    display: inline-block;
}

#ttxNavigation .currpage {
    display: inline-block;
    border: 0px;
    text-align: center;
    font-weight: normal;
    font-size: 12px;
    font-family: sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0.3em 0 0 0;
    width: 5.3em;
    box-sizing: border-box;
}

.pagenum {
    font-weight: bold;
    font-size: 1.1em;
    color: #ffffff;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    border: 0px;
}
