@font-face {
    font-family: 'Teletext Decoder';
    src: url('../fonts/teletext-decoder.eot');
    src: url('../fonts/teletext-decoder.eot?#iefix') format('embedded-opentype'),
         url('../fonts/teletext-decoder.woff2') format('woff2'),
         url('../fonts/teletext-decoder.woff') format('woff'),
         url('../fonts/teletext-decoder.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html {
    margin: 0px !important;
    padding: 0px !important;
    overflow: hidden !important;
}

body {
    margin: 0px !important;
    padding: 0px !important;
    background: #000000;
}

#ttxContainer {
    margin: 0px !important;
    overflow: hidden !important;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#ttxPage {
    margin: 0px !important;
    padding: 1px 0 1px 0 !important;
    overflow:hidden !important;
}

#ttxNumPadInput, #ttxNumPadInput:focus {
    position: absolute;
    font-family: 'Teletext Decoder', monospace;
    font-size: 18px;
    font-size: 3.4vmin;
    line-height: 3.5vmin;
    width: 2.3em;
    height: 1.0em !important;
    text-align: left;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    white-space: pre;
    background-color: transparent;
    color: transparent;
    border: none;
    border-style: none;
    caret-color: transparent;
    outline: none;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

@media (orientation: portrait) {
  #ttxNumPadInput, #ttxNumPadInput:focus {
      position: absolute;
      font-family: 'Teletext Decoder', monospace;
      font-size: 18px;
      font-size: 2.9vmin;
      line-height: 3.0vmin;
      width: 2.3em;
      height: 1.05em !important;
      text-align: left;
      margin: 0px;
      padding: 0px 0px 0px 0px;
      white-space: pre;
      background-color: transparent;
      color: transparent;
      border: none;
      border-style: none;
      caret-color: transparent;
      outline: none;
      -webkit-text-size-adjust: 100%;
      text-size-adjust: 100%;
  }
}

#ttxNumPadInput::selection {
    background-color: transparent;
    color: transparent;
}

#ttxNumPadEnv {
    display: none !important;
}

img {
    border: 0;
}

#ttxweb-footer {
    font-family: sans-serif;
    font-size: 8px;
    margin-top: 16px;
    display: block;
    clear: both;
}
