@font-face{
    font-family: 'Retro TV Teletext';
    src: url('../fonts/teletext.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

html {
    margin: 0px !important;
    padding: 0px !important;
    overflow: hidden !important;
}

body {
    margin: 0px !important;
    padding: 0px !important;
    background: #000000;
}

#ttxContainer {
    margin: 0px !important;
    overflow: hidden !important;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#ttxPage {
    margin: 0px !important;
    padding: 1px 0 1px 0 !important;
    overflow:hidden !important;
}

#ttxNumPadInput, #ttxNumPadInput:focus {
    position: absolute;
    font-family: 'Retro TV Teletext', monospace;
    font-size: 18px;
    font-size: 3.2vmin;
    line-height: 20px;
    line-height: 3.6vmin;
    letter-spacing: 1px;
    letter-spacing: 0.1vmin;
    width: 2.8em;
    text-align: left;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    white-space: pre;
    background-color: transparent;
    color: transparent;
    border: none;
    border-style: none;
    caret-color: transparent;
    outline: none;
}

#ttxNumPadInput::selection {
    background-color: transparent;
    color: transparent;
}

#ttxNumPadEnv {
    display: none !important;
}

img {
    border: 0;
}

#ttxweb-footer {
    font-family: sans-serif;
    font-size: 8px;
    margin-top: 16px;
    display: block;
    clear: both;
}
